.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
target/classes/module_1/Book.class
target/classes/module_1/Main.class
target/classes/module_1/MyArrayList.class
target/classes/module_1/MyHashSet.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/module_1/Student.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/module_1.MyArrayListTest.txt
target/surefire-reports/module_1.MyHashSetTest.txt
target/test-classes/module_1/MyHashSetTest.class
target/test-classes/module_1/MyArrayListTest.class
target/surefire-reports/TEST-module_1.MyArrayListTest.xml
target/surefire-reports/TEST-module_1.MyHashSetTest.xml
